@use '../abstracts/variables' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: $spacing-sm; // Usando variable
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    margin-bottom: $spacing-md;
}